---
layout: projectpages
title: "Tools Data Visualisation"
author: "partha"
categories: visualisationtype
caption: Explore data related to tools section of platform
tags: [tools, visualisation]
image:
      feature : visuals_ss.png	
---
These visualisations are based on data generated due to interaction with tools section of the platform. They are mainly based on three metrics for each tool- total number of days accessed, average number of students in a day and average time spent by a student in a day.</br></br>


<h4> Number of Days of Different Tools Usage in schools</h4> 
<div>
<ul>
{% for post in site.categories.vis_tools_total_num_days %}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Number of Students Enganged with Different Tools in a School</h4>
<div>
<ul>
{% for post in site.categories.vis_tools_total_students %}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Number of Students Engaged with different Tools per day </h4>
<div>
<ul>
{% for post in site.categories.vis_tools_avg_num_students%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Time Spent per day by Students on different Tools</h4>
<div>
<ul>
{% for post in site.categories.vis_tools_time_spent_day%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of Time Spent by Students in a Day on different Tools</h4>
<div>
<ul>
{% for post in site.categories.vis_tv_tools_time_spent%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>
