---
layout: projectpages
title: "Adoption Study Platform Data Visualisation"
author: "partha"
categories: 
caption: Explore data processed for Adoption Study
tags: [adoption, visualisation]
image:
      feature : visuals_ss.png	
---
These visualisations are based on data processed to answer some of the questions designed as part of adoption report developed by research team. These visuals are broadly divided into two categories snapshot and time-variation view of the metrics like number of students used different domain tools and modules etc.</br></br>

<h4> Snapshot View of Lab Functionality in terms of serverup days and platform usage days</h4>
<div>
<ul>
{% for post in site.categories.vis_sv_lab_func%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of Average Time Spent by Students in a Day on different domain-tools</h4>
<div>
<ul>
{% for post in site.categories.vis_tv_avg_tools_time_spent%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4>Monthly variation of the Number of Students visited atleast 50% of Module Activities </h4>
<div>
<ul>
{% for post in site.categories.vis_tv_percn_activ_module%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of the Number of Students Used different domain-tools</h4>
<div>
<ul>
{% for post in site.categories.vis_tv_stud_tools_domain%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of the Number of Days students used different domain-tools</h4>
<div>
<ul>
{% for post in site.categories.vis_tv_days_tools_domain%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of the Number of Students used  different domain-modules </h4>
<div>
<ul>
{% for post in site.categories.vis_tv_stud_module_domain%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4> Monthly Variation of the Number of Days different domain-modules were used by Students</h4>
<div>
<ul>
{% for post in site.categories.vis_tv_days_module_domain%}
  <li>
     <a  href={{site.github.url}}{{post.url}}>
		
		 
		
     <a href={{site.github.url}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

