---
layout: projectpages
title: "Course Module Data Visualisation"
author: "partha"
categories: visualisationtype
caption: Explore data related to course module section of platform
tags: [coursemodule, visualisation]
image:
      feature : visuals_ss.png	
---
 These visualisations are based on data generated due to interaction with course module section of the platform. They are mainly based on two metrics for each module- total number of students accessed and average percentage of activities completed.
<!--
 <div>
	{% for post in site.categories.visualsprogress %}
	<a style = "text-decoration: none" href={{site.github}}{{post.url}}>
		<figure>
		 <img src = {{site.github.url}}/images/{{post.image.feature}} alt = "image" style="max-width:417px; max-height:172px">
		 <figcaption>
                      {{post.caption}}
	         </figcaption>	 
		</figure>

        </a>
  {% endfor %}
  
</div>
-->
<div>
<ul>
{% for post in site.categories.visualsprogress %}
  <li>
     <a  href={{site.github}}{{post.url}}>
		
		 
		
     <a href={{site.github}}{{post.url}}>   {{post.caption}}	</a>
	         

     </a>
  </li>
  {% endfor %}
</ul>
</div>

